.mainApp {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  margin: auto;
  box-sizing: border-box;
  background-color: rgb(70, 69, 69);
  color: rgb(255, 255, 255);
  padding-bottom: 60px;
}
